.trust {
    background-color: #09AFF4;
    padding-top: 100px;
    padding-bottom: 100px;
}
.trust figure {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.trust figure img {
    height: 20vh;
    border-radius: 7px;
}
.trust h1 {
    text-align: center;
    color: #5FCBF8;
    font-size: 35px;
    padding-bottom: 70px;
}