footer {
    background: url(../footer/assets/footer-bg-1.jpg), #1A244E;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    gap: 100px;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
.sub {
    line-height: 30px;
}
.sub img {
    margin-bottom: 20px;
}
.news {
    padding-top: 30px;
    padding-bottom: 40px;
}
footer input {
    background-color: #6E667F;
    color: white;
    font-size: 14px;
    border: none;
    padding: 17px;
    width: 250px;
    outline: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  .news button {
    background-color: #09AFF4;
    color: white;
    border: none;
    padding: 15px;
    font-size: 17px;
    cursor: pointer;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .share {
    color: #6E667F;
  }
  .examp {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  footer h3 {
    padding-bottom: 30px;
    font-size: 22px;
  }
footer figure {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    cursor: pointer;
}
footer figure img:hover {
    transform: translate(0, -10px);
    transition: 1s;
}