.allserv {
    background-color: #060922;
    padding-top: 100px;
    padding-bottom: 100px;
}
.service {
    display: flex;
    justify-content: center;
    gap: 400px;
    padding-bottom: 50px;
}
.vice {
    color: #09AFF4;
    font-size: 20px;
    padding-bottom: 10px;
}
.we {
    color: white;
    font-size: 50px;
    padding-bottom: 20px;
}
.service p {
    color: #BBBBC2;
}
.service button {
    background-color: #09AFF4;
    color: white;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    margin-top: 80px;
    border: none;
}
.service button:hover {
    background-color: transparent;
    border: 2px solid #09AFF4;
    color: #09AFF4;
    cursor: pointer;
    transition: 1.5s;
}
.red {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
}
.web {
    border: 1px solid #09AFF4;
    padding: 30px;
    width:350px;
    border-radius: 5px;
}
.web h3 {
    color: white;
    font-size: 25px;
    padding-top: 10px;
}
.web p:first-of-type {
    color : white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.read {
    color: #09AFF4;
    font-size: 18px;
}
.read:hover {
    color: white;
    transition: 1s;
}

  
  .web {

    --initialBgColor: #060922;
    --slideBgColor: #09AFF4;


    background-image: linear-gradient(90deg,
        var(--initialBgColor) 0%,
        var(--initialBgColor) 50%,
        var(--slideBgColor) 50%,
        var(--slideBgColor) 100%);
    background-size: 200%;
    transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
      color .2s linear;
    transition-delay: 0.0s, 0.15s;
  }

  .web:hover {
    cursor: pointer; 
    background-position: -100% 100%;
  }